---
import BaseLayout from '../layouts/BaseLayout.astro';
import MyBrand from '../components/branding/Branding.astro';
---

<BaseLayout title="wuul.dev">
	<div class="flex flex-col">
		<MyBrand/>
	</div>
</BaseLayout>