---
// TableOfContentsHeading.astro
const { heading } = Astro.props;
---

<li>
  <a class="hover:text-wuul-purp" href={'#' + heading.slug}>
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class={`pl-${heading.depth > 1 ? heading.depth + 1 : '0' }`}>
        {
            heading.subheadings.map((subheading: any) => (
          <Astro.self heading={subheading} />
        ))
    }
      </ul>
    )
  }
</li>

<!-- need to rever the padding so I can get the sub nested headings that I want. -->
<style>
  ul {
    padding: revert;
  }
</style>