
<section>
    <!-- high level intro -->
    <section class="wuul-gradiant grid grid-cols-3 justify-items-center items-center h-96">
        <section class="col-span-2 text-center">
            <div class="flex flex-col justify-center h-full">
                <p class="text-4xl mb-1 font-main text-wuul-bg">Justin Montgomery </p>
                <p class="subscript text-2xl mb-1 text-wuul-bg font-main italic">(wuul)</p>
            </div>
        </section>
        <!-- my brand image -->
        <section class="col-span-1 text-center">
            <img class="rounded-full w-wuul-1/2 self-center" src="../../public/wuul0.png" alt="White fluffy sheep holding a Raspberry Pi with a wise look on its face."/>
        </section>
    </section>
    
    <!-- more detailed blurb -->
    <section class="grid grid-cols-5 justify-items-cneter items-center h-96">
        <div class="col-span-1"></div>
        <div class="col-span-3 text-center">
            <div class="flex flex-col justify-center h-full">
                <h1 class="text-bold text-wuul-accent text-4xl mb-4">Builder</h1>
                <p class="text-wuul-main text-2xl mb-4 ">
                    Adaptable, quick learner, eager to tackle hard problems and work with diverse tech stacks.
                </p>
                <p class="text-wuul-main text-2xl">
                    My passion lies in Backend Development, Developer Tooling, Containerization, and shaping robust Infrastructure solutions. I bring a proven track record of driving innovation and delivering high-performance solutions.
                </p>
            </div>
        </div>
        <div class="col-span-1"></div>
    </section>

    <!-- Skill section in a table -->
    <section>

    </section>
</section>

<style>
    .subscript{
        vertical-align: sub;
    }
    .wuul-gradiant {
        background: linear-gradient(to bottom, #74B881, #465B3D );
    }
</style>