---
interface Props {
	title: string;
	date?: string;
	category?: string;
	tags?: string[];
	isDraft?: boolean;
	tldr?: string;
	seoKeywords?: string[];
	slug:string
	img?: {href: string, alt:string};
}
const { 
	title, date, category, 
	tags, isDraft, tldr, 
	seoKeywords, slug, img } = Astro.props;
---
<!--  maybe I can repurpose this card? -->
<a href={`/blogs/${slug}`}>
<div class="bg-black text-white h-96">
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
	</div>
</a>
