<section>
    <!-- text introducting myself -->
    <div class="bg-wuul-green flex justify-between content-stretch h-96">
        <section>
            <div>
                <p>
                    Hi, I'm Justin <br>
                    <span>(aka wuul)</span>
                </p>
            </div>
        </section>
        <section>
            <img class="rounded-full h-3/4 " src="../../public/wuul0.png" />
        </section>
    </div>
    <!-- my brand image -->
</section>