---
interface Props {
    href: string;
    txt: string;
}
const {href, txt} = Astro.props;
const {pathname} = Astro.url
const isActive = href === pathname || href === pathname.slice(1);
---

<a class=`link-text text-base lg:text-lg text-wuul-purp font-medium hover-underline ${isActive ? "active" : ""}` href={href}>
    {txt}
</a>

<style>
    .link-text {
        font-family: 'Montserrat';
    }
    :hover.hover-underline {
        text-decoration: none;
        color: #8D6DAC;
    }
</style>