---
import type { NavMetadata } from "../types";
import Link from "./Link.astro";
interface Props {
    routes: NavMetadata[]
}
const { routes } = Astro.props;
---

<div class="flex justify-around h-[4vh] items-center font-main">
    {routes.map((r) => <Link href={r.to} txt={r.txt}/>)}
</div>
