<section class="wuul-gradient grid grid-cols-2 justify-items-center items-center h-60 lg:h-80">
    <div class="text-center flex flex-col justify-center h-full">
        <slot/>
    </div>
    <div class="flex justify-center items-center">
        <slot name="title-image"/>
    </div>
</section>

<style>
    .wuul-gradient {
        background: linear-gradient(to bottom, #74B881, #465B3D);
    }
</style>