---
interface Props {
	slug:string
}
const { slug } = Astro.props;
---
<div class="container container-hover mx-auto border-solid border-b-2 border-wuul-main h-64 md:h-30 md:ml-4">
	<div>
		<a href={`/blogs/${slug}`}>
			<div class="text-xl lg:text-2xl font-main flex mt-1 p-2">
				<slot name="blog-card-header"/>
			</div>
		</a>
	</div>
		<slot name="blog-card-metadata"/>
	</div>
<style>
	:hover.container-hover {
		border-bottom: solid .12rem #485F40
	}
</style>

